<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
">
    <bean id="miBean" class="org.ipn.bean.BeanSpring">
        <!--SE PONE EL NOMBRE DE LA VARIABLE-->
        <property name="mensaje" value="Hola Prro Soy experto en Spring"></property>
        
    </bean >
    <bean id="direccion" class="org.ipn.bean.Direccion">
        <constructor-arg name="calle" value="insurgentes sur"/>
        <constructor-arg name="cp" value="520620"/>
        
        <cons
        
    </bean>

</beans>
